body {
    background: linear-gradient(#7eafc2, #bbf9ff);
    min-height: 100vh;
}

.test-button {
    border-radius: 25px;
    width: 75px;
    height: 75px;
    margin: 8px;
}

img {
    margin-bottom: 50px;
}

.icon {
    width: 100%;
    height: 50px;
    background: #6c757d;
    border: 3px solid #949a9f;
    border-radius: 8px;
}